%section#leaderboard
  %h2 Leaderboard
  %table.table.table-striped
    %tbody
      - User.all.sort {|x,y| y.points_per_game <=> x.points_per_game }.each do |user|
        %tr[user]
          %td.user= user.name
          %td.ranking
            - if user.points_per_game > 0
              %span.points_per_game
                = number_with_precision user.points_per_game, precision: 2
              %span.count
                over
                = Game.for_user(user).count
                games
            - else
              %span.points_per_game
                \--

%section#recent
  %h2 Recent Games
  %ul#last-games
    - Game.last(5).reverse.each do |game|
      = game_entry game
