%section#leaderboard
  = render 'leaderboard'
  = render 'team_leaderboard' if Team.all.present?

%section#recent
  %h2 Recent Games
  %ul#last-games
    - @games.each_with_index do |game, i|
      = game_entry game, i == 0
